@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Baumans&family=Lobster&family=Poppins&display=swap');
.flex {
  display: flex;
  flex-direction: column;
}

.font_family {
  font-family: 'Audiowide', cursive;
}
.flex_direction {
  flex-direction: row;
}

.paddingTop {
  padding-top: 2rem;
}
.textDecoration {

  color: black;
}

.backgroundbody {
background-color: #000952;
height: 100vh;
}

.nothing::before {
  content: '';
  position: fixed;
  background: #000000;
  width: 105%;
  height: 30%;
  opacity: 0.6;
  margin-left: -40px;
background-size: 50%;
}