.panel {
  /* padding: 0.5rem 3.5rem; */
  background: linear-gradient(
    106.37deg,
    #1d286a 29.63%,
    #16206d 51.55%,
    #186c60c3 90.85%
  );
  display: flex;
  color: white;
  height: 100%;
  padding: 0px 0;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: flex;
  justify-content: space-between;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  gap: 16px;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  } 
}