/* .box {
    display:flex; 
    flex-direction : row; 
    justify-content:center; 
    align-items:center;
    text-align:center;
    border-color: black;
    border-radius:10; 
    background-color:;
    margin:10;
    height:300; 
    width:250;
} */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300;
    height: 300px;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}
.box-image img{
    width: 200px;
    height: 60%;
}
.maker {
    font:"Audiowide"; 
    font-size:20; 
    width:"40%"
}

.name-price{
    white-space: pre-wrap;
    font:"Audiowide";
    font-size:20;
    width:200px;
}