.container_stripe {
  width: 400px;
  height: 607px;
  background-color: white;
  border-radius: 25px;
  padding: 40px;
}

.btn_stripe {
  width: 100%;
  padding-inline-end: 100%;
}

.container_cards {
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
}