.columna {
  /* background-color: lightblue; */
  background: linear-gradient(to left, white 60%, #e4f0ff 25% 50%);
  width: 200px;
}

.img_detail {
  position: relative;
  mix-blend-mode: multiply;
}

.p_detail {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
