.loader-container {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.load-container {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  overflow: hidden;
  letter-spacing: normal;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.linespinner {
  width: 10px;
  height: 30px;
  background: #74a4ff;
  position: relative;
  animation: linespinner 1s ease-in-out infinite;
  animation-delay: 0.4s;
  border-radius: 8px;
}
.linespinner:after,
.linespinner:before {
  border-radius: 8px;
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  background: #74a4ff;
  animation: linespinner 1s ease-in-out infinite;
}
.linespinner:before {
  right: 18px;
  animation-delay: 0.15s;
}
.linespinner:after {
  left: 18px;
  animation-delay: 0.6s;
}

@keyframes linespinner {
  0%,
  100% {
    background-color: #74a4ff;
    box-shadow: 0 0 0 #74a4ff, 0 0 0 #74a4ff;
  }
  50% {
    background-color: #0052ec;
    box-shadow: 0 -15px 0 #0052ec, 0 15px 0 #0052ec;
  }
}
